@import compass
@import compass/css3
@import compass/reset
@import compass/layout
@import compass/typography
@import compass/css3/transition

@import susy
@import libs/base

$susy: ( columns: 12, gutters: 1/4, global-box-sizing: border-box )

[class^="icon-"]::before, [class*=" icon-"]::before
   font-family: icons
   display: inline-block
   width: auto
   text-align: center
   font-variant: normal
   text-transform: none
   font-style: normal
   font-weight: normal
   margin-left: .2em
   margin-right: .2em
   line-height: 1em
   //text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3)

body
   font-family: benton-regular
   +container(100%)
   background-color: #F6A934

.responsive
   max-width: 100%
   height: auto

   
   
.line
   width: 100%
   height: 1px
   background-color: darken($dark_color, 7%)
   border-bottom: 1px solid lighten($dark_color, 7%)

   
   
$header_width: $mobile_width
$header_padding: 20px
$logo_width: $menu_label_width - 25px
$logo_height: $logo_width

header
   
   +span($header_width)
   background-color: $dark_color
   +stretch-y()
   +box-sizing(border-box)
   padding: $header_padding
   
   
   .logo
      width: $logo_width
      height: $logo_height
      +background(image-url("logo.png"))
      float: right
      
      
   .submenu .flipcard .container
      +border-radius(8px)
      +border-shadow()
      background-color: $darker_color
      
   .submenu
      +stretch($logo_height + $header_padding + 35px, $header_padding, $header_padding, ($menu_gutter_width + $menu_icon_width + $header_padding))

      .header
         width: 100%
         height: 70px
         position: relative
         float: left
   
         .icon
            +box-sizing(border-box)
            position: relative
            left: (($logo_width / 2) - 40px)
            top: -35px
            width: 70px
            height: 70px
            +border-radius(50%)
            +background-image(linear-gradient(to bottom, #F6A934, adjust_color(darken(#F6A934, 20%), $saturation: 70%)))
            border: 3px solid $light_color
            +box-shadow(2px 3px $dark_color)
            text-align: center
            font-size: 36pt
            color: $darker_color
            padding-top: 5px
            float: left
   
         .title
            position: absolute
            top: 40px
            width: 100%
            height: 40px
            text-align: center
            color: darken($light_color, 20%)
            font-size: 18pt
            font-family: benton-book
            text-transform: capitalize
            float: left
   
      nav
         position: relative
         float: left
         width: 100%
         +box-sizing(border-box)
         padding: 10px
   
         li
            width: 100%
            height: $menu_label_height
            +background-image(linear-gradient(to bottom, lighten($dark_color, 3%) 50%, darken($dark_color, 3%) 51%, darken($dark_color, 3%)))
            font-family: benton-book
            font-size: 14pt
            color: contrast-color($dark_color)
            +box-sizing(border-box)
            padding: 10px
            border-top: 1px solid lighten($dark_color, 10%)
            border-bottom: 1px solid darken($dark_color, 10%)
            cursor: pointer
            vertical-align: middle
   
         li:hover::before
            position: absolute
            right: 20px
            width: 0
            height: 0
            content: ""
            margin-top: 22px
            border-left: 8px solid transparent
            border-right: 8px solid transparent
            border-bottom: 8px solid #F6A934
   
         li:hover::after
            display: block
            position: relative
            left: -10px
            bottom: -10px
            width: $menu_label_width - ($header_padding * 2) - 22px
            height: 3px
            content: ""
            background-color: #F6A934
      
      
   
               
               
            
         
      
      
