@import compass
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/css3/transition
@import compass/utilities/color

@import libs/base


$perspective: 0.002
$color: $darker_color

nav.menu.closed
   display: block
   position: relative
   left: -($menu_label_width)
   background-color: $color
   +stretch-y()
   +transition(.2s)
   +box-sizing(border-box)
   
nav.menu
   @extend nav.menu.closed
   width: $menu_width
   left: 0
   z-index: 9999
   
   .head
      display: block
      width: $menu_width
      height: $menu_icon_height
      
      .label
         @extend .head
         width: $menu_label_width
         float: left
      
      .icon
         @extend .head
         width: $menu_icon_width
         text-align: center
         font-size: 18pt
         color: darken(contrast-color($color), 30%)
         float: right
         cursor: pointer
         +box-sizing(border-box)
         padding-top: 15px
      
   
   li
      display: block
      width: 100%
      height: $menu_icon_height + 2
      +box-sizing(border-box)
      border: 1px solid darken($color, 5%)
      border-top: 1px solid lighten($color, 5%)

      .label
         display: block
         position: relative
         width: $menu_label_width
         height: $menu_label_height
         float: left
         margin: 0
         padding: 0
         text-indent: 20px
         line-height: 40pt
         font-size: 14pt
         color: contrast-color($color)
         font-family: benton-book
         text-transform: capitalize
         +box-sizing(border-box)
         +background-image(linear-gradient(to bottom, lighten($color, 1%) 50%, darken($color, 1%) 51%, darken($color, 1%)))
      
      .gutter
         @extend .label
         width: $menu_gutter_width
       
      .icon
         display: block
         position: relative
         width: $menu_icon_width - 2
         height: $menu_icon_height
         text-align: center
         font-size: 18pt
         float: right
         color: contrast-color($color)
         +background-image(linear-gradient(to bottom, lighten($color, 1%) 50%, darken($color, 1%) 51%, darken($color, 1%)))
         +box-sizing(border-box)
         +transition(.2s)
         +transform-origin(0, $menu_icon_width, 0)
    
      .off
         @extend .icon
         position: absolute
         padding-top: 12px
         left: 0
         
      .on
         @extend .icon
         position: absolute
         padding-top: 12px
         -webkit-transform: matrix3d(0, 0, -1, $perspective, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1)
         transform: matrix3d(0, 0, -1, $perspective, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1)
         +border-radius(5px)
         border: 2px solid $color
         left: $menu_icon_width 
   
   
   li:hover, li.active
      @extend li
      
      .off
         @extend .off
         left: $menu_icon_width
         +transform-origin(0, 0, 0)
         transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, - strip-units($menu_icon_width), 0, 0, 1)
         -webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, - strip-units($menu_icon_width), 0, 0, 1)

      .on
         @extend .on
         -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, - $perspective, - strip-units($menu_icon_width), 0, 0, 1)
         transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, - $perspective, - strip-units($menu_icon_width), 0, 0, 1)

   
@import ../data/menu.json
@each $item in $main
   $class: map_get($item, class)
   $link_color: map_get($item, color)
   

   li.#{$class} .gutter
      +background-image(linear-gradient(to bottom, lighten($link_color, 3%) 50%, darken($link_color, 3%) 51%, darken($link_color, 3%)))

   li.#{$class} .icon .on, li.#{$class}:hover .icon .on
      +background-image(linear-gradient(to bottom, lighten($link_color, 3%) 50%, darken($link_color, 3%) 51%, darken($link_color, 3%)))
      color: contrast-color($link_color)
   
   
   
      

